
    <h1> Все автомобили</h1>
    <h3>@Model.curCategori</h3>
    <div class="row mt-5 mb-2">
        @{
            foreach (var car in Model.getAllCars)
            {
                <div class="col-lg-4">
                    <h2>Модель : @car.name</h2>
                    <img class="img-thumbnail" src="@car.img" alt="@car.name" width="300" height="200">
                    <p>Цена: @car.price.ToString("c")</p>
                    <p><a class="btn btn-warning" href="#">Подробнее</a></p>
                </div>

            }

        }
    </div>
